

{% block body %}

 
      
      <div class="row">
      <div class="card-group">
    
         
        {% for product in pagination %}
<div class="col-sm-4">
  <div class="card">
    <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="{{ path('cart_add', {'id': product.id})  }}"><button type="button" class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i>
 Add To Cart</button></a>

    </div>
  </div>
  
 </div>
  
         {% endfor %}
         </div>
        </div>
        <div>
    {{ knp_pagination_render(pagination) }}
</div>
{% if is_granted('ROLE_ADMIN') %} ADMINISTRATOR {% endif %}
  
        {% endblock %}